In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
movies_bd = pd.read_csv('movie_bd_v5.csv')
movies_bd.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
738,tt1632708,35000000,150483765,Friends with Benefits,Justin Timberlake|Mila Kunis|Patricia Clarkson...,Will Gluck,Some friends come with a happy ending.,While trying to avoid the clichÃ©s of Hollywoo...,109,Comedy,Castle Rock Entertainment|Screen Gems|Olive Br...,7/21/2011,6.5,2011
926,tt0238546,35000000,45479110,Queen of the Damned,Stuart Townsend|Aaliyah|Marguerite Moreau|Vinc...,Michael Rymer,This time there are no interviews.,Lestat de Lioncourt is awakened from his slumb...,101,Drama|Fantasy|Horror,Village Roadshow Pictures|NPV Entertainment|Wa...,2/10/2002,5.2,2002
879,tt0289043,5000000,82719885,28 Days Later...,Cillian Murphy|Naomie Harris|Noah Huntley|Chri...,Danny Boyle,His fear began when he woke up alone. His terr...,Twenty-eight days after a killer virus was acc...,113,Horror|Thriller|Science Fiction,DNA Films|British Film Council,10/31/2002,6.9,2002
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003
460,tt1244754,12500000,6732980,Conviction,Hilary Swank|Minnie Driver|Bailee Madison|Lore...,Tony Goldwyn,An extraordinary journey of how far we go to f...,When Betty Anne Waters' older brother Kenny is...,107,Drama,Oceana Media Finance|Pantheon Entertainment Co...,9/11/2010,7.0,2010

In [3]:
movies_bd.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [54]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [56]:
# в словарь вставляем номер вопроса и ваш ответ на него
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [4]:
# тут пишем ваш код для решения данного вопроса:
movies_bd=pd.read_csv('movie_bd_v5.csv')
movies_bd[movies_bd.budget==movies_bd.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [57]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [6]:
movies_bd=pd.read_csv('movie_bd_v5.csv')
movies_bd[movies_bd.runtime==movies_bd.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [58]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [7]:
movies_bd=pd.read_csv('movie_bd_v5.csv')
movies_bd[movies_bd.runtime==movies_bd.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [59]:
answers['4'] = '2. 110)'

In [8]:
movies_bd=pd.read_csv('movie_bd_v5.csv')
movies_bd.mean()

budget          5.431083e+07
revenue         1.553653e+08
runtime         1.096585e+02
vote_average    6.140762e+00
release_year    2.007861e+03
dtype: float64

# 5. Каково медианное значение длительности фильмов?

In [60]:
answers['5'] = '1. 107)'

In [9]:
movies_bd=pd.read_csv('movie_bd_v5.csv')
movies_bd.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [61]:
answers['6'] = '5. Avatar (tt0499549))'

In [10]:
movies_bd=pd.read_csv('movie_bd_v5.csv')
movies_bd['profit']=movies_bd.revenue-movies_bd.budget
display(movies_bd[movies_bd.profit==movies_bd.profit.max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [62]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [11]:
movies_bd=pd.read_csv('movie_bd_v5.csv')
movies_bd['profit']=movies_bd.revenue-movies_bd.budget
display(movies_bd[movies_bd.profit==movies_bd.profit.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [63]:
answers['8'] = '1. 1478'

In [12]:
movies_bd=pd.read_csv('movie_bd_v5.csv')
display(movies_bd[movies_bd.revenue > movies_bd.budget])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1871,tt0171433,30000000,37036004,Keeping the Faith,Ben Stiller|Edward Norton|Jenna Elfman|Anne Ba...,Edward Norton,"If you have to believe in something, you may a...","Best friends since they were kids, Rabbi Jacob...",127,Comedy,Spyglass Entertainment|Touchstone Pictures|Tri...,4/14/2000,5.7,2000
1875,tt0219854,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,7/7/2000,5.9,2000
1877,tt0199725,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,7.3,2000
1883,tt0122459,24000000,36609995,Return to Me,David Duchovny|Minnie Driver|Carroll O'Connor|...,Bonnie Hunt,A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,Romance|Comedy|Drama,Metro-Goldwyn-Mayer (MGM)|JLT Productions,4/7/2000,5.5,2000
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000

In [13]:
movies_bd=pd.read_csv('movie_bd_v5.csv')
movies_bd.query('revenue > budget')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1871,tt0171433,30000000,37036004,Keeping the Faith,Ben Stiller|Edward Norton|Jenna Elfman|Anne Ba...,Edward Norton,"If you have to believe in something, you may a...","Best friends since they were kids, Rabbi Jacob...",127,Comedy,Spyglass Entertainment|Touchstone Pictures|Tri...,4/14/2000,5.7,2000
1875,tt0219854,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,7/7/2000,5.9,2000
1877,tt0199725,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,7.3,2000
1883,tt0122459,24000000,36609995,Return to Me,David Duchovny|Minnie Driver|Carroll O'Connor|...,Bonnie Hunt,A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,Romance|Comedy|Drama,Metro-Goldwyn-Mayer (MGM)|JLT Productions,4/7/2000,5.5,2000
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [64]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [14]:
movies_bd=pd.read_csv('movie_bd_v5.csv')
movies_bd.loc[movies_bd['release_year'] == 2008].query('revenue==revenue.max()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [65]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [15]:
movies_bd=pd.read_csv('movie_bd_v5.csv')
movies_bd['profit']=movies_bd.revenue-movies_bd.budget
movies_bd[(movies_bd['release_year']>2011) & (movies_bd['release_year']<2015)].query('profit==profit.min()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [67]:
answers['11'] = '3. Drama'

In [16]:
movies_bd=pd.read_csv('movie_bd_v5.csv')
pd.DataFrame(movies_bd.genres.str.split('|').tolist()).stack().value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [68]:
answers['12'] = '1. Drama'

In [17]:
movies_bd=pd.read_csv('movie_bd_v5.csv')
movies_bd['profit']=movies_bd.revenue-movies_bd.budget
data_profit=movies_bd[movies_bd.profit>0]
genres=data_profit.genres.str.split('|', expand=True).stack().value_counts()
print(genres)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [69]:
answers['13'] = '5. Peter Jackson'

In [18]:
movies_bd=pd.read_csv('movie_bd_v5.csv')
gr_df=movies_bd.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
display(gr_df.head(3))

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [70]:
answers['14'] = '3. Robert Rodriguez'

In [19]:
movies_bd=pd.read_csv('movie_bd_v5.csv')
def counter(movie_bd, i):
    data_plot=movie_bd[i].str.cat(sep='|')
    data=pd.Series(data_plot.split('|'))
    info=data.value_counts(ascending=False)
    return info

sum_gen = counter(movies_bd[movies_bd['genres'].map(lambda x: True if 'Action' in x else False)],'director')
print(sum_gen)

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Lexi Alexander        1
Brian Robbins         1
Brian Helgeland       1
Josh Trank            1
Robert Luketic        1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [71]:
answers['15'] = '3. Chris Hemsworth'

In [21]:
movies_bd=pd.read_csv('movie_bd_v5.csv')

def actor_revenue(df):
    summ = Counter()
    for i in range(len(df)):
        for j in df.iloc[i].cast.split('|'):
            summ[j] += df.iloc[i].revenue
    return pd.DataFrame.from_dict(summ, orient='index', columns = ['Summ'])

actor_revenue=actor_revenue(movies_bd[movies_bd.release_year == 2012]).sort_values(by=['Summ'], ascending = False)
display(actor_revenue)

                         Summ
Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Robert Downey Jr.  1519557910
Mark Ruffalo       1519557910
...                       ...
Jason Bateman         3428048
Nicolas Cage          2106557
Sami Gayle            2106557
Josh Lucas            2106557
Danny Huston          2106557

[466 rows x 1 columns]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [72]:
answers['16'] = '3. Matt Damon'

In [23]:
movies_bd=pd.read_csv('movie_bd_v5.csv')

high_profit_films=movies_bd[movies_bd['budget']>movies_bd['budget'].mean()]
res=pd.DataFrame(high_profit_films['cast'].str.split('|').tolist(), high_profit_films['budget']).stack().value_counts()
display(res)

Matt Damon               18
Adam Sandler             17
Angelina Jolie           16
Tom Cruise               15
Samuel L. Jackson        15
                         ..
John Hawkes               1
RenÃ©e Taylor             1
Sarah Shahi               1
Christopher Eccleston     1
Taron Egerton             1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [73]:
answers['17'] = '2. Action'

In [24]:
movies_bd=pd.read_csv('movie_bd_v5.csv')
count_genres = Counter()
for x in movies_bd.loc[movies_bd['cast'].map(lambda x: True if 'Nicolas Cage' in x else False)]['genres'].str.split('|'):
    count_genres+=Counter(x)
display(count_genres.most_common())

[('Action', 17),
 ('Thriller', 15),
 ('Drama', 12),
 ('Crime', 10),
 ('Fantasy', 8),
 ('Adventure', 7),
 ('Comedy', 6),
 ('Science Fiction', 4),
 ('Mystery', 3),
 ('Animation', 3),
 ('Family', 3),
 ('History', 2),
 ('War', 1),
 ('Horror', 1),
 ('Romance', 1)]

# 18. Самый убыточный фильм от Paramount Pictures

In [74]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [25]:
movies_bd = pd.read_csv('movie_bd_v5.csv') 

movies_bd['production_companies'] = movies_bd['production_companies'].apply(lambda x: x.split('|'))
movies_bd['profit']=(movies_bd['revenue']-movies_bd['budget'])
import collections
c = collections.Counter()


for i in range(0, len(movies_bd)):
    if 'Paramount Pictures' in movies_bd['production_companies'].loc[i]:
        c[movies_bd['original_title'].loc[i]]+=movies_bd.loc[i]['profit']
display(c.most_common())

[('Transformers: Dark of the Moon', 928746996),
 ('Transformers: Revenge of the Fallen', 686297228),
 ('Indiana Jones and the Kingdom of the Crystal Skull', 601636033),
 ('Transformers', 559709780),
 ('Mission: Impossible - Ghost Protocol', 549713380),
 ('Mission: Impossible - Rogue Nation', 532330139),
 ('War of the Worlds', 459739379),
 ('Interstellar', 456752480),
 ('Mission: Impossible II', 421388105),
 ('Teenage Mutant Ninja Turtles', 352200000),
 ('World War Z', 331865000),
 ('What Women Want', 304111707),
 ('The Wolf of Wall Street', 292000694),
 ('Terminator Genisys', 285603537),
 ('Star Trek Into Darkness', 277365246),
 ('Mission: Impossible III', 247850012),
 ('The Adventures of Tintin', 241940071),
 ('Noah', 237637473),
 ('The SpongeBob Movie: Sponge Out of Water', 237594032),
 ('Star Trek', 235680446),
 ('Shutter Island', 214804195),
 ('True Grit', 214276927),
 ('Little Fockers', 210650585),
 ('Super 8', 210095987),
 ('Paranormal Activity 3', 200703818),
 ("Daddy's Home", 190360392),
 ('The Curious Case of Benjamin Button', 183932083),
 ('Hansel & Gretel: Witch Hunters', 174803475),
 ('The Last Airbender', 168502923),
 ('Lara Croft: Tomb Raider', 159703340),
 ('Jack Reacher', 158340595),
 ('Collateral', 152764291),
 ('Cloverfield', 145764026),
 ('Hercules', 143400000),
 ('Up in the Air', 138670000),
 ('Paranormal Activity 4', 137817992),
 ('Jackass Presents: Bad Grandpa', 136831537),
 ('Vanilla Sky', 135388341),
 ('G.I. Joe: The Rise of Cobra', 127469017),
 ('How to Lose a Guy in 10 Days', 127371441),
 ('Beowulf', 125735876),
 ('Anchorman 2: The Legend Continues', 123649015),
 ('No Strings Attached', 122780440),
 ('The Italian Job', 116070171),
 ('The Dictator', 114379533),
 ('Mean Girls', 112042871),
 ('Rango', 110724603),
 ('The SpongeBob SquarePants Movie', 110161792),
 ('The Longest Yard', 108320568),
 ('The Big Short', 105346506),
 ('World Trade Center', 99945894),
 ('Disturbia', 97760134),
 ('The School of Rock', 96282949),
 ('Dreamgirls', 84937680),
 ('The Hours', 83846072),
 ('The Spiderwick Chronicles', 72839667),
 ("Lemony Snicket's A Series of Unfortunate Events", 69073645),
 ('Paranormal Activity: The Ghost Dimension', 68099553),
 ('Stardust', 65560026),
 ('Jackass Number Two', 61778712),
 ('Lara Croft Tomb Raider: The Cradle of Life', 61505388),
 ('Shaft', 61196498),
 ('Pain & Gain', 61175291),
 ('Jackass: The Movie', 59282312),
 ('Watchmen', 55258983),
 ('Without a Paddle', 50631118),
 ('Changing Lanes', 49935764),
 ('Crossroads', 49141030),
 ('Nacho Libre', 48197993),
 ('Four Brothers', 47374674),
 ('Coach Carter', 46669806),
 ('Along Came a Spider', 45178561),
 ('We Were Soldiers', 39660784),
 ('Failure to Launch', 38715192),
 ('Rat Race', 37498534),
 ('Paycheck', 36269812),
 ('Transformers: Age of Extinction', 35500000),
 ('Shooter', 34696996),
 ('Zoolander', 32780981),
 ('Yours, Mine & Ours', 27028752),
 ('Enemy at the Gates', 26976270),
 ('Barnyard', 21779000),
 ('Katy Perry: Part of Me', 20726956),
 ('Project Almanac', 20248241),
 ('Zodiac', 19785914),
 ('Team America: World Police', 18907422),
 ('Dinner for Schmucks', 17387857),
 ('The Manchurian Candidate', 16105964),
 ('Hugo', 15770160),
 ('Extremely Loud & Incredibly Close', 15247881),
 ('The Core', 14208267),
 ('The Gambler', 14171130),
 ('Clockstoppers', 12793283),
 ('The Stepford Wives', 12000000),
 ('Rules of Engagement', 11000000),
 ('Young Adult', 10939027),
 ('Hardball', 8222729),
 ('Star Trek: Nemesis', 7312826),
 ("Get Rich or Die Tryin'", 6442528),
 ('Bad News Bears', 4252847),
 ('The Score', 3069884),
 ('Fun Size', -2582638),
 ('Elizabethtown', -4965111),
 ('The Four Feathers', -5117355),
 ('Last Holiday', -6600039),
 ('The Weather Man', -7517225),
 ('Jack Ryan: Shadow Recruit', -9450893),
 ('Ã†on Flux', -9695999),
 ('Sahara', -10730514),
 ('Sky Captain and the World of Tomorrow', -12041304),
 ('Serving Sara', -12069815),
 ('Suspect Zero', -14000000),
 ('Abandon', -14280643),
 ('The Fighter', -15809131),
 ('A Thousand Words', -17955723),
 ('The Love Guru', -20180936),
 ('Domestic Disturbance', -20750706),
 ('Twisted', -24805000),
 ('Alfie', -46604061),
 ('Next', -51788987),
 ('Timeline', -60519261),
 ('K-19: The Widowmaker', -64831034)]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [75]:
answers['19'] = '5. 2015'

In [28]:
movies_bd=pd.read_csv('movie_bd_v5.csv')
display(movies_bd.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False))

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [76]:
answers['20'] = '1. 2014'

In [29]:
movies_bd = pd.read_csv('movie_bd_v5.csv')
import collections
from collections import Counter
col = collections.Counter()
movies_bd['profit']=movies_bd['revenue']-movies_bd['budget']
for i in range(0, len(movies_bd)):
    if 'Warner Bros.' in movies_bd['production_companies'].loc[i]:
        col[movies_bd['release_year'].iloc[i]]+=movies_bd['profit'].iloc[i]
display(col.most_common())

[(2014, 2295464519),
 (2007, 2201675217),
 (2008, 2134595031),
 (2010, 1974712985),
 (2011, 1871393682),
 (2003, 1855493377),
 (2009, 1822454136),
 (2013, 1636453400),
 (2004, 1631933725),
 (2005, 1551980298),
 (2001, 1343545668),
 (2012, 1258020056),
 (2002, 1022709901),
 (2015, 870368348),
 (2006, 620170743),
 (2000, 452631386)]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [77]:
answers['21'] = '4. Сентябрь'

In [30]:
movies_bd = pd.read_csv('movie_bd_v5.csv')
df=movies_bd
df['release_date'] = pd.to_datetime(df['release_date'])
df['release_date'] = df['release_date'].dt.strftime('%B')
pd.DataFrame(movies_bd.release_date.tolist()).stack().value_counts()

September    227
December     190
October      186
August       161
March        156
April        149
June         147
November     146
July         142
May          140
February     135
January      110
dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [78]:
answers['22'] = '2. 450'

In [31]:
movies_bd = pd.read_csv('movie_bd_v5.csv')
df=movies_bd
df['release_date'] = pd.to_datetime(df['release_date'])
df['release_date'] = df['release_date'].dt.strftime('%B')
all_month=pd.DataFrame(movies_bd.release_date.tolist()).stack().value_counts()
sum_summer_monthes=all_month['June']+all_month['July']+all_month['August']
print(sum_summer_monthes)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [79]:
answers['23'] = '5. Peter Jackson'

In [32]:
movies_bd = pd.read_csv('movie_bd_v5.csv')
movies_bd['release_date'] = pd.to_datetime(movies_bd['release_date'])
movies_bd['release_date'] = movies_bd['release_date'].dt.strftime('%B')
movies_bd = movies_bd.query('release_date in ["December","January", "February"]')
movies_bd=movies_bd['director'].str.cat(sep='|')
movies_bd=pd.Series(movies_bd.split('|'))
movies_bd.value_counts()

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Martin Scorsese      4
Nancy Meyers         4
                    ..
Harmony Korine       1
Rusty Cundieff       1
Andy Fickman         1
Richard Eyre         1
Andrew Davis         1
Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [80]:
answers['24'] = '5. Four By Two Productions'

In [35]:
def counter(movie_bd, i):
    data_plot=movie_bd[i].str.cat(sep='|')
    data=pd.Series(data_plot.split('|'))
    info=data.value_counts(ascending=False)
    return info

movies_bd = pd.read_csv('movie_bd_v5.csv')
sum_gen = counter(movies_bd,'production_companies')
movies_bd['title_length'] = movies_bd['original_title'].map(lambda x: len(x))
for gen in sum_gen.index:
    sum_gen[gen] = movies_bd['title_length'][movies_bd['production_companies'].map(lambda x: True if gen in x else False)].mean()
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending=False)
print(sum_gen)

                             0
Four By Two Productions     83
Jim Henson Company, The     59
Dos Corazones               47
Polsky Films                46
Museum Canada Productions   46
...                         ..
Berlanti Productions         3
Everest Entertainment        3
Global Entertainment Group   2
XM2 Productions              2
Ixtlan Productions           2

[1771 rows x 1 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [81]:
answers['25'] = '3. Midnight Picture Show'

In [46]:
movies_bd = pd.read_csv('movie_bd_v5.csv')
s_companies = movies_bd ['production_companies'].str.split('|',expand=True).stack().unique()
result = pd.DataFrame(columns = ['production_companies', 'length'])
result['length'] = result['length'].astype('int')
for company in s_companies:
    company_ = movies_bd [movies_bd ['production_companies'].str.contains(company,False)]['overview']
    for overview in company_:
        index = len(result)
        result.loc[index,'production_companies'] = company
        result.loc[index,'length']  = len(overview.split())
result.groupby('production_companies')['length'].mean().sort_values(ascending=False).head(1)

production_companies
Midnight Picture Show    175.0
Name: length, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [82]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [47]:
movies_bd = pd.read_csv('movie_bd_v5.csv')
movies_bd[movies_bd['vote_average']>movies_bd.quantile(0.99, numeric_only=True)['vote_average']]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [83]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint '

In [50]:
movies_bd = pd.read_csv('movie_bd_v5.csv')
from itertools import combinations

actors = movies_bd.cast.str.split('|').tolist()
comb=[]
for i in actors:
    for j in combinations(i, 2):
        comb.append(' '.join(j))
comb = pd.DataFrame(comb)
comb.columns = ['actor_combinations']
comb.actor_combinations.value_counts().head(3)

Daniel Radcliffe Rupert Grint    8
Daniel Radcliffe Emma Watson     8
Rupert Grint Emma Watson         7
Name: actor_combinations, dtype: int64

# Submission

In [84]:
# в конце можно посмотреть свои ответы к каждому вопросу
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110)',
 '5': '1. 107)',
 '6': '5. Avatar (tt0499549))',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint '}

In [85]:
# и убедиться что ни чего не пропустил)
len(answers)

27